:root{
    --ancolor:white;
    --decor:none;
    --bradius:5px;
    --bcolor:gray;
    --gradi: linear-gradient(to left, rgb(13, 224, 112),rgb(201, 81, 30));
    --size: 20px;
    --radial: radial-gradient(rgb(241, 158, 158), rgb(91, 125, 229));
    --shadow: 2px 2px 3px rgba(132, 91, 91, 0.762);
    --link: rgb(172, 30, 204);
    
}
.parent{
    background-color: black;
    color: var(--ancolor);
    display: flex;
    gap: 50px;
    justify-content:space-between;
    font-size: var(--size);
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}
.a{
    color: white;
    margin-top: 20px;
}
a{
    color: var(--ancolor);
    text-decoration: var(--decor);
    
    background-color: var(--bradius);
}
.b  a:hover{
    background-color: var(--bcolor);
    cursor: pointer;
    border-radius: var(--bradius);
}

.b{
    display: flex;
    gap: 30px;
    margin-right: 30px;
}
.welcome{
    width: 75%;
    height: 250px;
    background: var(--gradi);
    margin-top: 10px;
    padding: 20px;
    box-shadow: var(--shadow);
    margin-left: 15px;
}
b{
    font-size: 40px;
}
.main{
    display: flex;
}
.come{
    display: flex;   
}
.box{
    width: 180px;
    height: 120px;
    background-color: var(--bcolor);
    padding-top: 70px;
}
.box{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: darkgray;
    color: gray;
    font-size: 20px;
}
.aside{
    background: var(--radial);
    width: 22%;
    margin-top: 10px;
    box-shadow: var(--shadow);
    margin-right: 15px;
    display: grid;  
}
.aside a{
    color: blue;
    text-decoration: underline;
    margin-left: 20px;
 }
 .box123{
    display: flex;
    gap: 30px;
 }
 .box12{
    width: 200px;
    height: 200px;
    background-color: darkgray;
    color: gray;
    font-size: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .box12_1{
    position: absolute;

 }
 .box12_1-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    position: relative;
    top: 80px;
    right: 40px;
 }
#s2{
    width: 98%;
    height: 20px;
    margin-top: 7px;
}
#s3{
    width: 98%;
    height: 20px;
    margin-top: 7px;

}
button{
    width: 100%;
    background-color: black;
    color: var(--ancolor);
    height: 40px;
    border-radius: var(--bradius);
    font-size: larger;
}
button:hover{
    cursor: pointer;
}
footer{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: var(--ancolor);
    place-items: center;
    text-align: center;
}